# Following the 10 minute pandas tutorial
https://pandas.pydata.org/docs/user_guide/10min.html#min

In [2]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1,4,6, np.nan, 6,8])

In [4]:
s

0    1.0
1    4.0
2    6.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130103', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06',
               '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))

In [8]:
df

                   A         B         C         D
2013-01-03  1.082998  0.685827  1.035375  0.785227
2013-01-04  0.655014  0.673262  1.155911 -0.575735
2013-01-05  0.063874 -0.750501  1.989296  0.584746
2013-01-06 -0.226439 -0.073808 -0.561765 -1.798849
2013-01-07  0.286155 -0.387337 -1.658113  1.591337
2013-01-08 -0.198491 -0.855363 -1.081798 -1.413451

In [9]:
df2 = pd.DataFrame(

    {

        "A": 1.0,

        "B": pd.Timestamp("20130102"),

        "C": pd.Series(1, index=list(range(4)), dtype="float32"),

        "D": np.array([3] * 4, dtype="int32"),

        "E": pd.Categorical(["test", "train", "test", "train"]),

        "F": "foo",

    }

)

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [12]:
df[:2]

                   A         B         C         D
2013-01-03  1.082998  0.685827  1.035375  0.785227
2013-01-04  0.655014  0.673262  1.155911 -0.575735