# Import

In [104]:
#  imports

import numpy as np
import pandas as pd
import html5lib
from pathlib import Path

In [105]:
# read csv -gbp
path='../data/rev/gbp/oct.csv'

df = pd.read_csv(path)

In [106]:
df.head()

,Type,Product,Started Date,Completed Date,Description,Amount,Fee,Currency,State,Balance
0,CARD_PAYMENT,Current,2024-09-30 19:55:19,2024-10-01 05:10:20,Tahsin Food Centre,-2.99,0.0,GBP,COMPLETED,2.25
1,CARD_PAYMENT,Current,2024-10-01 01:39:06,2024-10-01 08:59:39,Transport for London,-1.80,0.0,GBP,COMPLETED,0.45
2,TOPUP,Current,2024-10-01 10:51:06,2024-10-01 10:51:07,Payment from Victor Elgersma,1000.00,0.0,GBP,COMPLETED,1000.45
3,FEE,Current,2024-10-01 14:10:27,2024-10-01 14:10:27,Metal Repricing 1 plan fee,-14.99,0.0,GBP,COMPLETED,985.46
4,REFUND,Current,2024-10-01 14:12:34,2024-10-01 14:12:34,Plan termination refund,14.99,0.0,GBP,COMPLETED,1000.45

In [107]:
# Drop cells I don't need

df = df[["Completed Date", "Description", "Amount", "Fee", "Currency"]]
df.dtypes

Completed Date     object
Description        object
Amount            float64
Fee               float64
Currency           object
dtype: object

In [108]:
# Clean

In [109]:
df["Date"] = pd.to_datetime(df['Completed Date'])
df["Delta"] = df["Amount"]

df = df[["Date", "Description", "Delta", "Fee", "Currency"]]
df.dtypes

Date           datetime64[ns]
Description            object
Delta                 float64
Fee                   float64
Currency               object
dtype: object

In [110]:
df.tail()

                   Date                   Description   Delta  Fee Currency
130 2024-10-29 10:49:38                         Tesco   -1.50  0.0      GBP
131 2024-10-29 22:35:13  Payment from Albena Azmanova   30.00  0.0      GBP
132 2024-10-30 01:52:25                   Simmer Eats  -37.45  0.0      GBP
133 2024-10-30 21:07:25  Payment from Albena Azmanova   20.00  0.0      GBP
134 2024-10-31 12:53:19  Payment from Albena Azmanova  122.50  0.0      GBP

In [111]:
# Data Analysis
df[5:10]

                 Date     Description  Delta  Fee Currency
5 2024-10-02 06:13:28           Tesco  -1.60  0.0      GBP
6 2024-10-02 06:15:36  Delta Security -20.00  0.0      GBP
7 2024-10-02 11:26:46           Tesco -15.95  0.0      GBP
8 2024-10-02 11:27:01           Tesco -17.90  0.0      GBP
9 2024-10-03 10:05:56       Swapfiets  -0.10  0.0      GBP

In [112]:



# Group by 'Description' and calculate the sum and count of 'Delta'
spending_by_description = df.groupby('Description')['Delta'].agg(['sum', 'count'])

# Sort by spending in ascending order (negative spending first)
spending_by_description = spending_by_description.sort_values('sum', ascending=True)
spending_by_description

Description
Back Market                     -499.93
UNIQLO                          -376.40
Tesco                           -157.63
eurostar                         -97.00
Pure                             -92.80
Khan's of Kensington             -83.87
Simmer Eats                      -68.91
Amazon                           -63.38
Ryman                            -57.97
Sports Direct                    -42.20
Sp Nonna Tonda                   -37.80
To LUKA CHINCHALADZE             -35.31
Lamb & Flag                      -35.30
Lead And Ball                    -27.00
Regie De Recettes De L           -24.00
Bethwall                         -22.00
Delta Security                   -20.00
Marks & Spencer                  -19.25
Pret                             -17.14
Kebab Fellas                     -16.00
Lime                             -15.63
Sainsbury's                      -15.20
Lebara mobile                    -15.00
Metal Repricing 1 plan fee       -14.99
Www.as56.co.uk                   -12.00
Daunt Books                      -12.00
WHSmith                           -9.99
Wigmore Hall                      -9.00
FWD:Coffee                        -8.60
Readwise                          -8.29
Shaka S Cateri                    -8.00
Crown Islington                   -7.84
Perfect Grill London G            -7.50
Co-op                             -7.45
Transport for London              -7.30
Cafe OTO                          -7.00
Hj Aris                           -6.00
Sportas                           -6.00
The Builders Arms                 -5.85
Coffeelovers                      -4.80
The Harp                          -4.60
FCB Coffee                        -3.60
Greggs                            -3.40
Market Cafe                       -3.38
Regency Food & Wine               -3.09
La Maison Highbury                -3.00
Sultan Food And Wine              -2.99
Tahsin Food Centre                -2.99
Starbucks                         -2.75
The National Gallery              -2.00
JustGiving                        -2.00
Swapfiets                         -0.10
Plan termination refund           14.99
From LUCA RAMON MELVILLE          20.30
From TOMAZ EDMOND ODONOGHUE       49.29
Payment from Albena Azmanova     210.50
Exchanged to GBP                 834.83
Payment from Victor Elgersma    1250.00
Name: Delta, dtype: float64

In [113]:
# View all transactions with a given description
description_filter = df[df['Description'] == 'Back Market']

description_filter

                   Date  Description   Delta  Fee Currency
72  2024-10-17 03:05:19  Back Market -168.49  0.0      GBP
103 2024-10-21 04:13:04  Back Market -168.95  0.0      GBP
108 2024-10-21 16:48:16  Back Market -162.49  0.0      GBP

In [114]:
df["Delta"].sum()

np.float64(363.67999999999984)